*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    
    color: hsl(228, 45%, 44%);
}


:root{
    --primary-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);
    --Neutral-Off-white: hsl(36, 100%, 99%);
    --Neutral-Grayish-blue: hsl(233, 8%, 79%);
    --Neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
    --Neutral-Very-dark-blue: hsl(240, 100%, 5%);
    

}

bady{
    width: 100vw;
    height: 100vh;
    background: var(--Neutral-Off-white);
}
p{
    font-size:.8rem;
}

main{
    
    margin: 0 auto;
}

header{

    width: 100vw;
    height: 4rem;
    margin-bottom: 1rem;
    background-color: var(--Neutral-Off-white);
}

nav{
    width: 100vw;
    height: 4rem;
    padding: auto 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

ul li{
    list-style: none;
    display: none;
}

section{
    min-width: 336px;
    padding: 1rem;
    

    
}

/*Primeira Seção*/ 

.title{

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-principal img{
    width: 98%;
    height: 50%;
}

.infor{
    display: flex;
    flex-wrap:wrap;
    gap: 1.3rem;


}

.infor > h1 {

    font-size: 2.2rem;
    font-weight: 900;
    line-height: 2.6rem;
    color: var(--Neutral-Very-dark-blue);
}

.infor > p {

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--Neutral-Dark-grayish-blue);
}

button{
    width: 12rem;
    height: 2.7rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Neutral-Off-white);
    border: none;
    background: var(--primary-soft-red);
    cursor: pointer;
    
}

button:hover{
    background: var(--Neutral-Very-dark-blue);
    transition: 900ms;
}
