*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    
    color: hsl(228, 45%, 44%);
}


:root{
    --primary-soft-orange: hsl(35, 77%, 62%);
    --primary-soft-red: hsl(5, 85%, 63%);
    --Neutral-Off-white: hsl(36, 100%, 99%);
    --Neutral-Grayish-blue: hsl(233, 8%, 79%);
    --Neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
    --Neutral-Very-dark-blue: hsl(240, 100%, 5%);
    

}

bady{

    background: var(--Neutral-Off-white);
}
p{
    font-size:.8rem;
}
main{
    display: grid;
    
    

}

header{

    width: 100vw;
    height: 4rem;
    background-color: var(--Neutral-Dark-grayish-blue);
}
nav{
    width: 100%;
    height: 4rem;
    padding: auto 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    align-items: center;
    

}

ul{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: .3rem;
    list-style: none;

}


